$corps: black;
$titre: blue;
$background: #ade8f5 ;
$backgroundlinks: #f2f2f2;


body {
 font-family: Verdana, sans-serif;
 font-size: 100%;
 color : $corps;
 text-align : justify;
 ul{
   li{
     font-weight:bold;
   }
 }
 }

@media (max-width: 499px) {
body {
    background-color: $backgroundlinks;
        font-size: 80%;
}
}

 h1 {
display : flex;
align-items: center;
justify-content: center;
color: $titre;


 }

nav {

justify-content :center;
flex-wrap: wrap;
}

table, th, td {
  border: 1px solid black;
  padding : 15px;

}
th{
  text-align: center;
  background-color: $background;
}

#lien{
  background-color: $background;
  padding: 10px;
}

.lienpage {
  background-color: $backgroundlinks;
  font-weight: bold;
  text-decoration: underline;
}
